header {
    border-bottom: black 1px solid;
    padding: 20px;
}

nav {
    border-right: black 1px solid;
    width: 200px;
    height: 600px;
    float: left; /*옆으로 올라가게*/
}

nav ol { /*이러한 선택자를 쓰면 nav 안에 있는 ol 태그를 가르키게 된다.*/
    list-style: none;
}

article {
    float: left; /*적절한 여백*/
    padding: 20px;
}